@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$primary: #40577A;
$secondary: #FF6F91;
$tertiary: #FFC75F;
$tertiary-gradient: #FE8A7F;
$text-light: white;
$text-dark: black;
