@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template: 'logo nav' 5rem / 1fr 1fr;
  background-color: transparent; }
  header nav {
    grid-area: nav;
    align-self: center;
    justify-self: flex-end; }
    header nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0; }
      header nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 4rem;
        cursor: pointer;
        color: white;
        position: relative; }
        header nav ul li a {
          position: relative; }
          header nav ul li a span::after {
            content: '';
            height: .15rem;
            width: 0;
            bottom: -.15rem;
            left: 0;
            background-color: white;
            position: absolute;
            transition: .25s width ease-in; }
      header nav ul li:hover a span::after {
        width: 100%; }
  header #logo-and-title {
    grid-area: logo;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem; }
    header #logo-and-title .logo {
      width: 1.5rem;
      height: 1.5rem;
      padding: .75rem;
      border-radius: 50%;
      background-image: linear-gradient(#FFC75F, #FE8A7F);
      color: white; }
    header #logo-and-title h1 {
      margin: 0 0 0 1rem;
      color: white; }
