header {
  display: grid;
  grid-template: 'logo nav' 4rem / 1fr 3fr;
  background-color: blue; }
  header nav {
    grid-area: nav;
    align-self: center;
    justify-self: flex-end; }
    header nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0; }
      header nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 4rem;
        cursor: pointer; }
      header nav ul li:hover {
        color: white;
        background-color: green; }
  header #logo-and-title {
    grid-area: logo;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    header #logo-and-title h1 {
      margin: 0; }
